<h4>Movie Ratings</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="Rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
          <td mat-cell *matCellDef="let element"> {{element.Rating}} </td>
        </ng-container>
        <ng-container matColumnDef="Count">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;">
            Number of movies
          </th>
          <td mat-cell style="padding-left:10px;" *matCellDef="let element"> {{element.Count}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
