<h4>All Movie</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="MovieID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden="hidden"> Movie ID </th>
          <td mat-cell *matCellDef="let element" hidden="hidden"> {{element.MovieID}} </td>
        </ng-container>
        <ng-container matColumnDef="MovieName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;">
            Name
          </th>
          <td mat-cell style="padding-left:10px;" *matCellDef="let element"> {{element.MovieName}} </td>
        </ng-container>
        <ng-container matColumnDef="CategoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.CategoryName}} </td>
        </ng-container>
        <ng-container matColumnDef="Rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rating </th>
          <td mat-cell *matCellDef="let element"> {{element.Rating}} </td>
        </ng-container>
        <!-- EditAction Column -->
        <ng-container matColumnDef="EditAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-info" [routerLink]="['/Movie/Edit/',element.MovieID]">
              <i class="fa fa-edit fa-fw"></i>
              Edit
            </a>
          </td>
        </ng-container>
        <!-- DeleteAction Column -->
        <ng-container matColumnDef="DeleteAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-info" (click)="Delete(element.MovieID)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
