<h4>Add Movie</h4>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">Add Movie</div>
  <div class="panel-body">
    <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="MovieName" [(ngModel)]="movieModel.MovieName" maxlength="50"
                 #refMovieName="ngModel" id="MovieName" required>
          <div *ngIf="!refMovieName.valid  && (refMovieName.dirty || refMovieName.touched)" class="alert alert-danger">
            <div [hidden]="!refMovieName.errors.required">
              Movie Name is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="name"> Category</label>
          <select required name="CategoryID" #refCategoryID="ngModel" class="form-control" [(ngModel)]="movieModel.CategoryID">
            <option value=''>Please select Value</option>
            <option *ngFor="let activecategory of AllActiveCategoryList" [ngValue]="activecategory.CategoryID">
              {{activecategory.CategoryName}}
            </option>
          </select>
          <div *ngIf="!refCategoryID.valid  && (refCategoryID.dirty || refCategoryID.touched)" class="alert alert-danger">
            <div [hidden]="!refCategoryID.errors.required">
              Category is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="name"> Rating</label>
          <select required name="Rating" #refRating="ngModel" class="form-control" [(ngModel)]="movieModel.Rating"
                  style="width:150px;">
            <option value=''>Select</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <div *ngIf="!refRating.valid  && (refRating.dirty || refRating.touched)" class="alert alert-danger">
            <div [hidden]="!refRating.errors.required">
              Rating is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Save</button>
          <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Movie/All']">
            Cancel
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
