<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mr Movie - Login</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                            <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                            <fieldset>
                                <div class="form-group">
                                        <label for="name">Username</label>
                                        <input autofocus type="text" class="form-control" name="Username" [(ngModel)]="LoginModel.Username" maxlength="50"
                                            #refUsername="ngModel" id="Username" required>
                                        <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)" class="alert alert-danger">
                                            <div [hidden]="!refUsername.errors.required">
                                                    Username is required
                                            </div>
                                        </div>

                                </div>
                                <div class="form-group">
                                        <label for="name">Password</label>
                                        <input autofocus type="password" class="form-control" name="Password" [(ngModel)]="LoginModel.Password" maxlength="50"
                                            #refPassword="ngModel" id="Password" required>
                                        <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                                            <div [hidden]="!refPassword.errors.required">
                                                    Password is required
                                            </div>
                                        </div>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" [disabled]="!f.form.valid" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
