<h4>All Category</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- CategoryID Column -->
        <ng-container matColumnDef="CategoryID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden="hidden"> CategoryID </th>
          <td mat-cell *matCellDef="let element" hidden="hidden"> {{element.CategoryID}} </td>
        </ng-container>
        <!-- CategoryName Column -->
        <ng-container matColumnDef="CategoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;"> Name </th>
          <td mat-cell *matCellDef="let element" style="padding-left:10px;"> {{element.CategoryName}} </td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
        </ng-container>
        <!-- Createddate Column -->
        <!--<ng-container matColumnDef="Createddate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Createddate}} </td>
        </ng-container>-->
        <!-- EditAction Column -->
        <ng-container matColumnDef="EditAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-info" [routerLink]="['/Category/Edit/',element.CategoryID]">
              <i class="fa fa-edit fa-fw"></i>
              Edit
            </a>
          </td>
        </ng-container>
        <!-- DeleteAction Column -->
        <ng-container matColumnDef="DeleteAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-info" (click)="Delete(element.CategoryID)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
