<h4>Edit Category</h4>

<hr>


<div class="panel panel-default">
    <div class="panel-heading">Edit</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <input type="hidden" name="CategoryID" [(ngModel)]="CategoryForms.CategoryID" id="CategoryID">
            <div class="row">
                <div class="col-md-3">
                    <label for="name">CategoryName</label>
                    <input type="text" class="form-control" name="CategoryName" [(ngModel)]="CategoryForms.CategoryName"
                        maxlength="50" #refCategoryName="ngModel" id="CategoryName" required>
                    <div *ngIf="!refCategoryName.valid  && (refCategoryName.dirty || refCategoryName.touched)" class="alert alert-danger">
                        <div [hidden]="!refCategoryName.errors.required">
                            CategoryName is required
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="name">Active?</label>
                    <br>
                    <input style="margin-top: 10px" type="checkbox" name="Status" [(ngModel)]="CategoryForms.Status"
                        maxlength="50" #refStatus="ngModel" id="CategoryName">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Save</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Category/All']">
                        Cancel </a>
                </div>
            </div>
        </form>
    </div>
</div>
